/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


 --- WHITESPACE

----SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 



 --- COLORS

- Primary:  #ce921a
- Accents: #111
- Tints:  #e7ad3b #f2d394 #fdf8ed
- Shades: #af7c16 #2c1f05
- Greys: */

/* **************************** */
/* GENERAL */
/* **************************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
}

/* **************************** */
/* TOOLS */
/* **************************** */

.container-large {
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.container-small {
  width: 1100px;
  margin: 0 auto;
}

.heading {
  font-size: 74px;
  text-align: center;
  margin-bottom: 200px;
}

.section {
  padding: 120px 0 120px;
}

/* **************************** */
/* HEADER */
/* **************************** */

header {
  background-image: url(img/heroimg\ .jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* **************************** */
/* NAVIGATION */
/* **************************** */

nav {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  padding-top: 30px;
}

.logo {
  width: 120px;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(110%);
}

.navigation {
  display: flex;
  gap: 50px;

  list-style: none;
}

.nav-link a:link,
.nav-link a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 6px 12px;
  font-weight: 600;
  color: #111;
  border-radius: 4px;
  transition: all 0.4s;
}

.nav-link a:hover,
.nav-link a:active {
  background-color: #af7c16;

  font-weight: 700;
}

/* **************************** */
/* HERO SECTION */
/* **************************** */

.hero-section {
  display: grid;
  grid-template-columns: 1.7fr 1fr;

  /* padding: 80px; */
  padding: 110px 0 320px 0;
}

.hero-heading {
  font-size: 118px;
  font-weight: 850;
  letter-spacing: -1px;
  line-height: 0.9;
  color: #2c1f05;
  margin-bottom: 32px;
}

.hero-subheading {
  font-size: 30px;
  color: #2c1f05;
  font-weight: 600;
  margin-bottom: 64px;
}

.hero-cta {
  display: flex;
  gap: 20px;
}

.btn-cta:link,
.btn-cta:visited {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #2c1f05;
  padding: 12px 24px;
  background-color: #e7ad3b;
  border: 3px solid #2c1f05;
  border-radius: 14px;
  transition: all 0.4s;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.479); */
}

.btn-cta:hover,
.btn-cta:active {
  background-color: #af7c16;
}

.btn:link,
.btn:visited {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #2c1f05;
  padding: 12px 24px;
  /* background-color: #af7c16; */
  border: 3px solid #2c1f05;
  border-radius: 14px;
  transition: all 0.4s;
}

.btn:hover,
.btn:active {
  background-color: #af7c16;
}

/* **************************** */
/* ABOUT SECTION */
/* **************************** */

.about-heading {
  font-size: 74px;
  text-align: center;
  margin-bottom: 100px;
}

.lift {
  transition: all 0.3s;
}

.lift:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 20px rgba(17, 17, 17, 0.438);
}

.about-us {
  width: 940px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 80px;
  text-align: center;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(17, 17, 17, 0.342);
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-card {
  padding: 30px;
  border-radius: 30px;
  justify-self: center;
  height: 350px;
  width: 370px;
  box-shadow: 0 5px 16px rgba(17, 17, 17, 0.342);
}

.about-icon {
  height: 40px;
  width: 40px;
  margin-bottom: 24px;
}

.about-card-heading {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 800;
}

.about-card-text {
  font-size: 18px;
  font-weight: 600;
}

/* **************************** */
/* PRODUCTS SECTION */
/* **************************** */

.products-section {
  background-color: #fdf8ed;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 100px;
}

.product-heading {
  font-size: 52px;
  font-weight: 750;
  margin-bottom: 50px;
  line-height: 1.1;
}

.product-text {
  font-size: 20px;
  margin-bottom: 30px;
}

.color {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.orange::after {
  display: inline-block;
  content: "";
  padding: 10px;
  background-color: #c17e37;
  border-radius: 50%;
  transform: translate(7px, 4px);
}

.blue::after {
  display: inline-block;
  content: "";
  padding: 10px;
  background-color: #94b5c8;
  border-radius: 50%;
  transform: translate(7px, 4px);
}

.green::after {
  display: inline-block;
  content: "";
  padding: 10px;
  background-color: #9b8f5d;
  border-radius: 50%;
  transform: translate(7px, 4px);
}

.model-orange {
  width: 500px;
  justify-self: end;
  border-radius: 14px;
}

.model-blue {
  width: 500px;
  justify-self: start;
  border-radius: 14px;
}

.product-price {
  display: block;
  font-size: 20px;
  margin-bottom: 40px;
}

.product-cta {
  display: flex;
  gap: 10px;
}

.product-btn:link,
.product-btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #111;
  padding: 12px 24px;
  /* background-color: #af7c16; */
  border: 2px solid #111;
  border-radius: 14px;
  transition: all 0.4s;
}

.product-btn:hover,
.product-btn:active {
  background-color: #f2d394;
}

.product-btn-cta:link,
.product-btn-cta:visited {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #111;
  padding: 12px 24px;
  /* background-color: #ce921a; */
  border: 4px solid #111;
  border-radius: 14px;
  transition: all 0.4s;
}

.product-btn-cta:hover,
.product-btn-cta:active {
  background-color: #f2d394;
}

.more-container {
  text-align: center;
  margin-top: 95px;
}

.more-btn:link,
.more-btn:visited {
  font-size: 20px;
  color: #111;
  border-bottom: 1px solid #111;
  transition: all 0.3s;
  text-decoration: none;
}

.more-btn:hover,
.more-btn:active {
  border-bottom: 1px solid transparent;
}

/* **************************** */
/* TESTIMONIALS SECTION */
/* **************************** */

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 150px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;

  /* padding: 20px; */
  /* background-color: blue; */
}

.quotation {
  width: 40px;
  position: absolute;
  transform: translate(-120%, -70%);
  z-index: -100;
}

.testimonial {
  position: relative;
  width: 500px;
  justify-self: center;
  align-self: flex-start;
}

.testimonial-text {
  font-size: 23px;
  font-weight: 900;
  /* text-align: justify; */
  margin-bottom: 30px;
}

.testimonial-name {
  font-size: 20px;
  margin-bottom: 20px;
}

.testimonial-img {
  width: 60px;
  border-radius: 50%;
}

/* **************************** */
/* SIGNUP SECTION */
/* **************************** */

.signup-grid {
  background-color: #fdf8ed;
  border-radius: 10px;
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1700px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.signup-container {
  /* max-width: 600px; */
  /* margin: 0 auto; */
  /* background: white; */
  padding-left: 150px;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.signup-heading {
  /* text-align: center; */
  color: #333;
  margin-bottom: 32px;
  font-size: 70px;
  line-height: 1;
  font-weight: 600;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* .form-row {
  display: flex;
  gap: 16px;
} */

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-weight: 600;
  color: #2d3436;
  font-size: 16px;
}

input,
select {
  padding: 12px;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ce921a;
}

/* select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
} */

.signup-btn {
  display: inline-block;
  width: 400px;
  align-self: center;
  margin-top: 27px;
  background-color: #ce921a;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #af7c16;
}

.signup-logo {
  width: 65%;
  justify-self: center;
  align-self: center;
}

/* **************************** */
/* FOOTER SECTION */
/* **************************** */

.footer {
  padding: 128px 0;
  border-top: 1px solid #eee;
}

.grid {
  display: grid;
  row-gap: 96px;
  column-gap: 64px;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 32px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.copyright {
  font-size: 14px;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.contacts {
  font-size: normal;
  font-size: 16px;
  line-height: 1.6;
}

.address {
  margin-bottom: 24px;
}

.footer-nav {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-col {
  padding: 0;
  align-items: start;
  gap: 0;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 16px;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.greyfix {
  filter: brightness(0);
  opacity: 40%;
}
